.lunch-dish-container {
    display: grid;
    width: 100%;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.dish-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 35px;
    border: 2px solid transparent;
    padding: 30px 30px 40px 40px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

img {
    width: 100%;
    border-radius: 35px;
}

main {
    margin-bottom: 3em;
}

.dish-card:hover {
    border: 2px solid tomato;
    cursor: pointer;
}

.select-dish-button {
    height: 2.5em;
    background-color: #f1eee9;
    color: black;
    border: none;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.selected-dish-label {
    margin-bottom: 1em;
}

.selected-dish-category-label {
    font-weight: bold;
}

.dish-cost {
    font-weight: bold;
    margin-bottom: 0;
}

.dish-cost::after {
    content: " ₽";
}

.dish-title {
    margin-top: 0;
}

.dish-weight {
    color: lightgray;
}

.dish-weight::after {
    content: " г";
}

.dish-card:hover button {
    background-color: lightgray;
}

.order-lunch-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;

    margin-bottom: 3em;
}

.order-lunch-part {
    display: flex;
    flex-direction: column;
    gap: 0.33em;
}

.order-lunch-title {
    text-align: center;
}

h3 {
    font-weight: normal;
}

/* .form-input-label {
}


.order-form-button-container {

}

.form-dish-input {

} */

select,
input::file-selector-button,
.submit-button {
    height: 3em;
}

input::file-selector-button,
.submit-button,
select {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    max-width: 100%;
}

input::file-selector-button:hover,
.submit-button:hover,
select:hover {
    background-color: var(--button-color-hover);
}

input::file-selector-button:active,
.submit-button:active,
select:active {
    background-color: var(--button-color-active);
}

.form-text-input {

    margin-bottom: 1em;
}

textarea {
    resize: none;
}

.form-select-input {
    margin-bottom: 1em;
}

.dish-subcategory-div {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.dish-subcategory-button {
    color: rgb(64, 124, 11);
    background-color: transparent;
    border: none;
    padding: 6px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.5em;
}

.dish-subcategory-button:hover {
    background-color: rgb(188, 231, 150);

}

.dish-subcategory-button.active {
    background-color: rgb(188, 231, 150);
}

@media screen and (max-width: 750px) {
    h2 {
        text-align: center;
    }

    body {
        width: 100%;
        align-items: center;
    }

    .dish-card {
        display: flex;
        flex-direction: column;
        padding: 1em 1em 1em 1em;
    }

    .dish-weight {
        margin-top: 0;
    }

    .lunch-dish-container {
        display: grid;
        width: 100%;
        column-gap: 10px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto;
        gap: 0.8em;
    }

    img {
        max-height: 12em;
        object-fit: cover;
    }

    h1 {
        text-align: center;
    }

    nav {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        width: 100%;
    }

    .login-link {
        visibility: collapse;
    }

    .order-lunch-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    .dish-subcategory-div {
        justify-content: center;
    }
}