.lunch-dish-container {
    display: grid;
    width: 100%;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.dish-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 35px;
    padding: 30px 30px 40px 40px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

img {
    width: 100%;
    border-radius: 35px;
}

.dish-card:hover {
    border: 2px solid tomato;
}

.select-dish-button {
    height: 2.5em;
    background-color: lightgray;
    color: black;
    border: none;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.select-dish-button:hover {
    background-color: gray;
}